<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Operación Sonrisa</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estiloH.css" />

<script src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ddsmoothmenu.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ddsmoothmenu.css" />

<script type="text/javascript">




$(document).ready(function(){
    $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
        if(!options.crossDomain) {
            if(options.data) {
                options.data += "&";
            } else {
                options.data = "";
            }
            options.data += "csrfmiddlewaretoken={{csrf_token}}";
        }
    });


    tipo=$('#tipoBusqueda option:selected').val();
    setBusqueda(tipo,"#busqueda"+tipo);
   /* if('{{ busquedaJ }}'){
        $('#tipoBusqueda option[value="Jornada"]').attr('selected', 'selected');
        $("#busquedaHistoria").empty();
        tipo='Jornada';
        setBusqueda(tipo,"#busqueda"+tipo);
    }
    else{
        $("#busquedaJornada").empty();

        }*/
    $('#tipoBusqueda').change(function(){

        $("#busquedaHistoria").empty();
        $("#busquedaJornada").empty();
        var val = $('#tipoBusqueda option:selected').val();
        setBusqueda(val,"#busqueda"+val);
    });

function setBusqueda(tipo,id_div){
    var html_text
    if(tipo=='Historia'){
        html_text= "<form location='/sistema/busqueda' method='POST' id='form_historia' name='form_historia'>";
        html_text=html_text + "{% csrf_token %}";
        html_text=html_text + "<div><label>Nro de Historia:</label></div>";
        html_text=html_text + "<div><input type='text' id='nro_historia' name='nro_historia' size='35'/></div>";
        html_text=html_text + "<div><label>Nombre Paciente:</label></div>";
        html_text=html_text + "<div><input type='text' id='nombre_paciente' name='nombre_paciente' size='35'/></div>";
        html_text=html_text + "<p>";
        html_text=html_text + "<input type='submit' name='buscarH' value='Buscar' />";
        html_text=html_text + "</p>";
        html_text=html_text + "<input type='hidden' id='centinela' name='centinela' value='historia' size='35'/>";
        html_text=html_text + "</form>";
        $(id_div).append(html_text);

        }
    else{
        html_text= "<form location='/sistema/busqueda' method='POST' id='contactform'>";
        html_text=html_text + "{% csrf_token %}";
        html_text=html_text + "<div><label>Nro de Jornada:</label></div>";
        html_text=html_text + "<div><input type='text' id='jornada_codigo' name='jornada_codigo' size='35'/></div>";
        html_text=html_text + "<p>";
        html_text=html_text + "<input type='submit' name='buscarH' value='Buscar' />";
        html_text=html_text + "</p>";
        html_text=html_text + "<input type='hidden' id='centinela' name='centinela' value='jornada' size='35'/>";
        html_text=html_text + "</form>";
        $(id_div).append(html_text);

        }



    }



ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
});
</script>



</head>
<body>
<div id="background">
  <div id="logo">
  </div>
  <div id="barra">
  </div>
<div id="smoothmenu1" class="ddsmoothmenu">
<ul>
<li><a href="#">Historia</a>
  <ul>
  <li><a href="crearHistoria3.html">Crear Historia</a></li>
  <li><a href="crearHistoria3.html">Modificar Historia</a></li>
  <li><a href="crearHistoria3.html">Consultar Historia</a></li>
  </ul>
</li>
<li><a href="#">Reportes</a>
  <ul>
  <li><a href="#">Sub Item 1.1</a></li>
  <li><a href="#">Sub Item 1.2</a></li>
  <li><a href="#">Sub Item 1.3</a></li>
  </ul>
</li>
<li><a href="#">Jornadas</a>
  <ul>
  <li><a href="#">Sub Item 2.1</a></li>
  </ul>
</li>
<li><a href="#">Opciones</a></li>
<li><a href="#">Ayuda</a></li>
</ul>
<br style="clear: left" />
</div>
  <ul id="tabul">
  </ul>
  <div id="tabcontent" >
    <select id="tipoBusqueda">
        <option value="Historia"> Historia </option>
        <option value="Jornada" > Jornada  </option>
    </select>
    <div id="busquedaHistoria">
        {% if busquedaH %}
              {% if lista_historia %}
                <table>
                    <caption>Historias</caption>
                    <thead>
                        <tr>
                            <th scope="col">Código Historia</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for historia in lista_historia %}
                        <tr>
                            <th><a href="/sistema/historia/{{ historia.nro_historia }}/">{{ historia.nro_historia }}</a></th>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>

              {% else %}
                    <p>No hay historias disponibles</p>
              {% endif %}
              {% if lista_paciente %}

                <table>
                    <caption>Pacientes</caption>
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Nro Historia</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p_nombre,p_historia in lista_paciente %}
                        <tr>
                            <th><a href="/sistema/historia/{{ p_historia.nro_historia}}/">{{ p_nombre }}</a></th>
                            <td>{{ p_historia.nro_historia }}</td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>

              {% else %}
                    <p>No hay pacientes disponibles</p>
              {% endif %}
        {% endif %}
    </div>
    <div id="busquedaJornada">
        {% if busquedaJ %}
              {% if lista_jornada %}
                <table>
                    <caption>Jornadas</caption>
                    <thead>
                        <tr>
                            <th scope="col">Código Jornada</th>
                            <th scope="col">Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for jornada in lista_jornada %}
                        <tr>
                            <th><a href="/sistema/jornada/{{ jornada.codigo }}/">{{ jornada.codigo }}</a></th>
                            <td>{{ jornada.name }}</td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
              {% else %}
                    <p>No hay Jornadas disponibles</p>
              {% endif %}
        {% endif %}
    </div>


  </div>
<br />
<br />
</div>
</body>
</html>
